:root {
  --primal-color: #007acc;
  --dark-70: #3e3e42;
  --dark-80: #2d2d30;
  --dark-90: #252526;
  --dark: #0e0e0e;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: var(--dark);
}

body {
  margin: 0;
}

@media screen and (min-width: 800px) {
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 800px) {
  ::-webkit-scrollbar {
    display: block;
  }

  ::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    margin: 1rem;
    background: transparent; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-80); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }

  .general-body-container ::-webkit-scrollbar-thumb {
    background-color:red; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }

}

a {
  text-decoration: none;
}

/*Loader styles*/
.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primal-color);
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primal-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%,
  49% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
