:root {
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  --primal-color: #007acc;
  --dark-70: #3e3e42;
  --dark-80: #2d2d30;
  --dark-90: #252526;
  --dark: #0e0e0e;
  background-color: var(--dark);
}

body *{
  transition:all .2s ease-in;
}

@media screen and (min-width: 800px) {
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 800px) {
  ::-webkit-scrollbar {
    display: block;
  }

  ::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    margin: 1rem;
    background: transparent; /* color of the tracking area */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-80); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }

  .general-body-container ::-webkit-scrollbar-thumb {
    background-color:red; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid transparent; /* creates padding around scroll thumb */
  }

}

a {
  text-decoration: none;
}

/*Loader styles*/
.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primal-color);
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primal-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%,
  49% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.dark{
  --primal-color: #007acc;
  --dark-70: #0007;
  --dark-80: #0008;
  --dark-90: #0009;
  --dark: #ddd;

}

.dark *{
  color:#151515;
}

.dark .movile-navigation *{
  color:#151515;
  background-color:whitesmoke;

}

.dark .nav-icon{
  color:#151515;
}

.dark .providers-container *{
  color:whitesmoke;
}

  .dark .cristal * {
    color:whitesmoke;
  }

  .dark .bg input, .dark .bg i:nth-child(1){
    color:whitesmoke;
  }

  .dark .bg  .input-top-container{
    background-color:#0004;
  }

  .dark .bg .query *,.dark .bg .query i{
    color:#151515;
  }

  .dark .percent {
    color:#151515 !important;
  }

  .dark nav ul *{
    color:#151515;
  }

  .dark nav ul li:hover *{
    background-color:var(--primal-color) !important;
  }

  .dark nav ul *:hover{
    color:whitesmoke;
    background-color:var(--primal-color) !important;
  }

  .dark nav ul li div div *:hover{
    background-color:whitesmoke !important;
  }
  
  .dark nav button {
    color:#151515;
  }

  .dark .bg-information div *{
    color:#ddd9;
  }

  .dark .body-desktop-version *{
    color:whitesmoke;
  }

  .dark .body-desktop-version article *{
    color:whitesmoke;
  }

  .dark nav li div a{
    color:whitesmoke;
  }

  .dark nav li div a:hover{
    color:#151515;
  }

  .dark .margin a div:nth-child(1){
  background-color:#0005;
  }
  
  .dark .with-genre-hero h2:nth-child(1){
  color:#0004;
  }

  .dark .inlist-header h2:nth-child(1){
  color:#0004;
  }

  .dark .general-body-container h2{
    color:whitesmoke !important;
  }

  .dark h1{
    color:whitesmoke;
  }

  .dark .content-loader-text{
    color:#151515 !important;
  }

  .none{
    display:none;
  }

  .dark .nav-icon input{
    background-color:#0003 !important;
  }

  .expand{
    height: 100% !important;
  }



